# Исключение системных и ненужных директорий
AppData/
Application Data/
*.log
*.tmp
*.bak
*.swp


work/analog-signal-448117-n9-897455b42399.json
teract_ipynb/mydasch-197308-ce756751640a.json

teract_ipynb/
dist/
build/
